<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>IPaGotoSegue</string>
	<key>Description</key>
	<string>Sub class of UIView that you want to become first responder,and has custom inputView and basic Toolbar with done button</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>UIView</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Identifier</key>
			<string>superclass</string>
			<key>Name</key>
			<string>Subclass of</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>UIView</string>
			<key>Description</key>
			<string>What class of your iinput view</string>
			<key>Identifier</key>
			<string>inputViewClass</string>
			<key>Name</key>
			<string>Class of inputView</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>combo</string>
			<key>Values</key>
			<array>
				<string>UIView</string>
				<string>UIPickerView</string>
			</array>
		</dict>
		<dict>
			<key>Description</key>
			<string>do you need input Accessory View</string>
			<key>Identifier</key>
			<string>needInputAccessoryView</string>
			<key>Name</key>
			<string>Use inputAccessoryView</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>An Objective-C class with a header</string>
</dict>
</plist>
